
  @media screen and (max-width: 768px) {

    main{
        width: 90%;
    }

    .first_sect h1{
        font-size: 30px;
    }

  .minx,  .container-box{

        grid-template-columns: 1fr 1fr 1fr ;

    }

    .projects-container{
        grid-template-columns: 1fr 1fr;
    }
    
    
    

  }
  
  /* Responsive styles for mobile devices (up to 480px) */
  @media screen and (max-width: 480px) {

    main{
        width: 95%;
    }

    .minx,  .container-box{

        grid-template-columns: 1fr 1fr ;

    }
    


    .projects-container{
        grid-template-columns: 1fr;
    }
    
    
  }
  