
  @media screen and (max-width: 768px) {

    main{
        width: 90%;
    }

    .first_sect h1{
        font-size: 30px;
    }
    
    
    

  }
  
  /* Responsive styles for mobile devices (up to 480px) */
  @media screen and (max-width: 480px) {

    main{
        width: 95%;
    }
    
    
  }
  