*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: red;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: solid white 1px;
}

nav a{
    text-decoration: none;
    font-size:20px;
    color: white;

}

main{
    width: 80%;
    margin: 0 auto;
    background-color: red;
}

.profile-box{
    display: flex;
    justify-content: column;
    align-items: center;
    background-color: green;
}
.profile-box img{
    align-self: center;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    max-height: 6em;

}

header{
    padding: 10px;
}

header p{
    padding: 5px;
}

.site-nav{
    background-color: purple;
    border-bottom: solid white 1px;
    border-top: solid white 1px;
    padding: 10px;

}

.main-nav{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 10px;

}

.site-nav button{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}

.main-nav a{
    color: white;
    text-decoration: none;
    
}

.first_sect{
    padding: 10px ;
}

.first_sect h1{
    color: white;
    font-size: 40px;
}

.first_sect p{
    line-height: 1.65em;
    font-size: 18px;
    color: rgb(163, 163, 163);
}

.highlight {
    color: green;

}

.tools{
    padding: 10px;
}

.tools h2{
    color: white;
    padding: 5px;
}

.tools p{
    color: rgb(163, 163, 163);
    padding-bottom: 10px;
    line-height: 1.65em;
}


.container-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

    color: rgb(163, 163, 163);
}


.min-box-icon{
    display: flex;
    gap:5px;
}


.border-neutral{
    padding: 1rem;
    border-width: 1px;
    border-radius: 0.75rem;
    margin-top: 1.2rem;
    border-style: solid;
    border-color: white;
}

.minx{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.min-box-icon2{
    display: flex;
    gap: 5px;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

.project-img-box{
   
}

.project-img-box img{
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
}

.flex-below-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
}




























