*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: red;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: solid white 1px;
}

nav a{
    text-decoration: none;
    font-size:20px;
    color: white;

}

main{
    width: 80%;
    margin: 0 auto;
    background-color: red;
}

.profile-box{
    display: flex;
    justify-content: column;
    align-items: center;
    background-color: green;
}
.profile-box img{
    align-self: center;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    max-height: 6em;

}



